In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
#importing the dataset from Starbucks 
Data_ST = pd.read_csv("Data/starbucks.csv")
Data_ST = pd.DataFrame(Data_ST.loc[:, 'Country'])
#Calculating the frequency of locations per country 
Data_ST['freq'] = Data_ST.groupby('Country')['Country'].transform('count')

In [4]:
Data_ST = Data_ST.drop_duplicates()
Data_ST = Data_ST.reset_index(drop=True)
#Renaming columns
Data_ST.columns = ['Code', 'Starbucks locations']

### Why Starbucks as a feature?

- Starbucks reflects a countries welfare believe it nor not. When you see that many Starbucks locations in poor countries who are actually tea drinkers then that tells you something about the country. Maybe these countries aren't as poor as we thought or maybe demographics are changing.

- Merchants who use fintech are mostly coffee shops and restaurants, and Starbucks is the third largest chain by the number of locations so as the number of Starbucks locations increase so does the competition.

- Starbucks sounds like a cool variable but more importantly, it's easy to scale by just use Google maps fro example.

In [5]:
#importing the country code dataset
Data_code = pd.read_csv('https://raw.githubusercontent.com/datasets/country-list/master/data.csv')
#importing the GEI index dataset
Data_gei = pd.read_csv('Data/gei.csv')
#Renaming columns
Data_code.columns = ["Country", 'Code']
Data_gei.columns = ['Rank', 'Country', "GEI Score"]
Data_gei.head()

   Rank        Country  GEI Score
0   1.0  United States       83.4
1   2.0    Switzerland       78.0
2   3.0         Canada       75.6
3   4.0         Sweden       75.5
4   5.0        Denmark       74.1

### What is the GEI Score?

- It is the model's label and it is the Global Entrepreneurship Index and it's an annual index that measures the health of the entrepreneurship ecosystems in each of 137 countries. It then ranks the performance of these against each other. The Global Entrepreneurship and Development Institute is responsible for that index. Check it out [here.](https://thegedi.org)

In [6]:
#Merging datasets
Data_label = pd.merge(Data_code,Data_gei, on="Country", how="inner" )
final = pd.merge(Data_ST,Data_label, on="Code", how="inner" )

In [8]:
#importing the Mobile dataset
data_mobile = pd.read_csv('Data/mobile.csv')
data_mobile.columns = ["Country", "Total Subscribers"]
#27% is Apple's market share according to Gartner's SAMSUNG vendor rating Report
data_mobile.loc[:,'Total Subscribers'] * 0.27
final = pd.merge(data_mobile,final, on="Country", how="inner" )
final.rename(columns={'Total Subscribers_x': 'iPhone Users', 'Starbucks locations': 'Starbucks Locations'}, inplace=True)

### iPhone Users

- iPhone users were calculated by multiplying Apple's global market share by the number of mobile cellular telephone subscribers per country. Apple's market share was projected by Garter's vendor rating report on SAMSUNG and the mobile subscriber's data was exported from the CIA's World Factbook.
- iPhones are considered by many as the main tool for FinTech penetration. In fact, mobile applications were considered by many as a supportive marketing tool to the core business model but nowadays companies it is the business model and that can be seen by companies like Venmo, Square and Stripe.

In [9]:
#importing the ATM dataset
data_atm = pd.read_csv("Data/ATMs.csv")
data_atm.columns = ["Country", "ATMs per 1000 Adults"]
data_atm = data_atm.dropna()
data_atm = data_atm.reset_index(drop=True)

### ATMs per 1000 Adults, Really?

Yes, the ATMs feature was selected for the following reasons:
- It has the most correlation with the GEI scores, labels.
- It is the primary indicator for financial inclusion and therefore FinTech companies
- Mobile banking and mobile payments could come as the next step if the ATM mentality has already been established in a country.

The dataset was exported from the world bank open data project.

In [10]:
final = pd.merge(data_atm, final, on="Country", how="inner" )
final = final.dropna()
final = final.reset_index(drop=True)
final.rename(columns={'ATMs per 1000 Adults_x': 'ATMs per 1000 Adults', 'Total Subscribers': 'iPhone Users'}, inplace=True)
col = ["Country", "Code", "ATMs per 1000 Adults", "iPhone Users", "Starbucks Locations", "GEI Score" ]
final = final[col]
final

,Country,Code,ATMs per 1000 Adults,iPhone Users,Starbucks Locations,GEI Score
0,United Arab Emirates,AE,61.909397,17943000,144,58.8
1,Argentina,AR,58.841633,60664000,108,22.2
2,Australia,AU,160.137780,31770000,22,72.5
3,Austria,AT,119.094724,13471000,18,63.5
4,Azerbaijan,AZ,35.082586,10697000,4,31.1
5,Belgium,BE,93.653161,12938000,19,63.0
6,Bulgaria,BG,90.889727,9195000,5,22.7
7,Brazil,BR,114.793823,257814000,102,20.1
8,Canada,CA,221.126457,29390000,1468,75.6
9,Switzerland,CH,97.611221,11700000,61,78.0
10,Chile,CL,56.364734,23206000,96,58.8
11,Colombia,CO,40.082031,57327000,11,37.3
12,Costa Rica,CR,79.614760,7536000,11,31.0
13,Cyprus,CY,53.099612,1111000,10,38.5
14,Czech Republic,CZ,49.561956,13925000,28,42.2
15,Germany,DE,123.056697,96360000,160,64.9
16,Denmark,DK,54.014077,7266000,21,74.1
17,Spain,ES,118.619050,50926000,101,45.3
18,Finland,FI,35.820472,7399000,8,66.9
19,France,FR,108.025692,66681000,132,64.1
20,Greece,GR,59.432401,12682000,28,34.6
21,Guatemala,GT,33.831861,18121000,7,17.9
22,Hungary,HU,57.877075,11786000,16,36.3
23,Indonesia,ID,49.482874,338426000,268,21.2
24,India,IN,17.802365,1011054000,88,25.8
25,Ireland,IE,84.723645,4902000,73,71.0
26,Jordan,JO,29.931674,13798000,17,31.7
27,Japan,JP,127.454390,158591000,1237,51.7
28,Kazakhstan,KZ,72.082918,31390000,8,30.1
29,Cambodia,KH,10.877094,20851000,4,16.5
30,Kuwait,KW,56.093616,8305000,106,42.5
31,Lebanon,LB,37.611282,4400000,29,28.8
32,Luxembourg,LU,105.258997,807000,2,58.1
33,Morocco,MA,25.288598,43080000,9,25.7
34,Mexico,MX,48.466025,106831000,579,25.7
35,Malaysia,MY,52.174540,44111000,234,33.4
36,Netherlands,NL,53.492292,20809000,59,67.8
37,Norway,NO,48.305803,5841000,17,55.9
38,Panama,PA,61.357130,6947000,5,26.2
39,Peru,PE,54.958746,34236000,89,26.8
40,Philippines,PH,23.359515,120255000,298,24.1
41,Poland,PL,63.456852,56838000,53,46.6
42,Portugal,PT,176.810262,11715000,11,47.2
43,Qatar,QA,65.307808,3610000,18,58.0
44,Romania,RO,65.148943,23120000,27,37.1
45,Saudi Arabia,SA,70.579993,52796000,102,47.2
46,Singapore,SG,59.464055,8211000,130,52.2
47,El Salvador,SV,33.792877,9334000,11,19.8
48,Sweden,SE,40.178787,12639000,18,75.5
49,Thailand,TH,111.309382,84797000,289,27.1
50,Turkey,TR,76.063025,73639000,326,43.7
51,South Africa,ZA,66.251562,85197000,3,32.6

In [11]:
final.describe()

       ATMs per 1000 Adults  iPhone Users  Starbucks Locations  GEI Score
count             52.000000  5.200000e+01            52.000000  52.000000
mean              71.338961  6.204688e+07           128.653846  43.642308
std               41.008623  1.479178e+08           271.050164  18.342037
min               10.877094  8.070000e+05             2.000000  16.500000
25%               48.425970  9.299250e+06            11.000000  27.025000
50%               59.448228  1.946500e+07            28.000000  40.350000
75%               91.580586  5.696025e+07           106.500000  58.800000
max              221.126457  1.011054e+09          1468.000000  78.000000

In [12]:
final.corr()

,ATMs per 1000 Adults,iPhone Users,Starbucks Locations,GEI Score
ATMs per 1000 Adults,1.000000,-0.126585,0.480289,0.456772
iPhone Users,-0.126585,1.000000,0.121793,-0.248659
Starbucks Locations,0.480289,0.121793,1.000000,0.147356
GEI Score,0.456772,-0.248659,0.147356,1.000000

### Starbucks correlation

An extremely low correlation between Starbucks locations and the GEI score, only 0.14, which is very weird. Does Starbucks know that?
30min later, I decided to email the Starbucks data science team and see what they think about that and that's only because I have access to ZoomInfo, a subscription-based contact information software.

This was the email:

Hi Mr. XXX,

 I am a student at George Washington University.

I got your info from Linkedin. I am building a machine learning algorithm where I am using the following features:
Starbucks locations per country
Entrepreneurship Index per country
Today, I came up with a very interesting finding. The correlation between the two features is exactly 0.14. Can you imagine !!!

What do you think about that? and what are the factors that you look for when you expand internationally then if it's not entrepreneurship? 

Cheers


I sent an email to almost 20 employees and I didn't get a reply back. I guess I'll have to email them again with the model's findings. Lets move on to that.